h1 {
    color: red;
    width: calc(90%);
    border: 1px solid black;
    background-color: yellow;
    transform: rotate(0.005turn);
    margin-top: 100px;
    padding-left: 20px;
}

p,
li {
    color: green
}

a:invalid li {
    list-style-type: none
}

.special {
    color: orange;
    font-weight: bold;
}

li em {
    color: rebeccapurple
}

a:link {
    color: pink;
}

.test {
    display: flex;
    list-style: none;
}

ol {
    list-style-type: pointer;
}